# ==== Build artifacts ====
bin/
obj/

# ==== User-specific files ====
*.user
*.suo
*.userosscache
*.sln.docstates

# ==== Visual Studio ====
.vs/

# ==== Rider / VS Code (если вдруг) ====
.idea/
.vscode/

# ==== Logs ====
*.log

# ==== OS files ====
.DS_Store
Thumbs.db

# ==== ASP.NET Core secrets ====
secrets.json

# ==== NuGet packages (если вдруг локальные) ====
*.nupkg
packages/

# ==== Test results ====
TestResults/

s2/backups/