--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: pageinspect; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pageinspect WITH SCHEMA public;


--
-- Name: EXTENSION pageinspect; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pageinspect IS 'inspect the contents of database pages at a low level';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: fn_audit_pet_accessorie(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_audit_pet_accessorie() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

  v_action text;

  v_old_amount int;

  v_new_amount int;

BEGIN

  IF TG_OP = 'INSERT' THEN

    v_action := 'insert';

    v_old_amount := NULL;

    v_new_amount := NEW.amount;



    INSERT INTO audit_pet_accessorie(

      changed_at, action, username, pet_id, accessorie_id,

      old_amount, new_amount, diff, flags

    )

    VALUES (

      now(), v_action, current_user, NEW.pet_id, NEW.accessorie_id,

      v_old_amount, v_new_amount,

      jsonb_build_object(

        'op', TG_OP,

        'new', jsonb_build_object('amount', NEW.amount)

      ),

      ARRAY['trigger','auto']

    );



    RETURN NEW;



  ELSIF TG_OP = 'UPDATE' THEN

    v_action := 'update';

    v_old_amount := OLD.amount;

    v_new_amount := NEW.amount;



    INSERT INTO audit_pet_accessorie(

      changed_at, action, username, pet_id, accessorie_id,

      old_amount, new_amount, diff, flags

    )

    VALUES (

      now(), v_action, current_user, NEW.pet_id, NEW.accessorie_id,

      v_old_amount, v_new_amount,

      jsonb_build_object(

        'op', TG_OP,

        'old', jsonb_build_object('amount', OLD.amount),

        'new', jsonb_build_object('amount', NEW.amount)

      ),

      ARRAY['trigger','auto']

    );



    RETURN NEW;



  ELSIF TG_OP = 'DELETE' THEN

    v_action := 'delete';

    v_old_amount := OLD.amount;

    v_new_amount := NULL;



    INSERT INTO audit_pet_accessorie(

      changed_at, action, username, pet_id, accessorie_id,

      old_amount, new_amount, diff, flags

    )

    VALUES (

      now(), v_action, current_user, OLD.pet_id, OLD.accessorie_id,

      v_old_amount, v_new_amount,

      jsonb_build_object(

        'op', TG_OP,

        'old', jsonb_build_object('amount', OLD.amount)

      ),

      ARRAY['trigger','auto']

    );



    RETURN OLD;

  END IF;



  RETURN NULL;

END;

$$;


ALTER FUNCTION public.fn_audit_pet_accessorie() OWNER TO postgres;

--
-- Name: fts_update_client(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fts_update_client() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.notes_tsv :=

    to_tsvector('simple', unaccent(coalesce(NEW.notes,'')));

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.fts_update_client() OWNER TO postgres;

--
-- Name: fts_update_employee(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fts_update_employee() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.bio_tsv :=

    to_tsvector('simple', unaccent(coalesce(NEW.bio,'')));

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.fts_update_employee() OWNER TO postgres;

--
-- Name: fts_update_pet(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fts_update_pet() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.description_tsv :=

    to_tsvector('simple', unaccent(coalesce(NEW.description,'')));

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.fts_update_pet() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accessorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accessorie (
    id bigint NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.accessorie OWNER TO postgres;

--
-- Name: accessorie_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.accessorie_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.accessorie_id_seq OWNER TO postgres;

--
-- Name: accessorie_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.accessorie_id_seq OWNED BY public.accessorie.id;


--
-- Name: animal_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.animal_type (
    id bigint NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.animal_type OWNER TO postgres;

--
-- Name: animal_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.animal_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.animal_type_id_seq OWNER TO postgres;

--
-- Name: animal_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.animal_type_id_seq OWNED BY public.animal_type.id;


--
-- Name: audit_pet_accessorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_pet_accessorie (
    audit_id bigint NOT NULL,
    changed_at timestamp with time zone NOT NULL,
    action text NOT NULL,
    username text NOT NULL,
    pet_id bigint NOT NULL,
    accessorie_id bigint NOT NULL,
    old_amount integer,
    new_amount integer,
    diff jsonb,
    flags text[],
    CONSTRAINT audit_pet_accessorie_action_check CHECK ((action = ANY (ARRAY['insert'::text, 'update'::text, 'delete'::text])))
);


ALTER TABLE public.audit_pet_accessorie OWNER TO postgres;

--
-- Name: audit_pet_accessorie_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_pet_accessorie_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_pet_accessorie_audit_id_seq OWNER TO postgres;

--
-- Name: audit_pet_accessorie_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_pet_accessorie_audit_id_seq OWNED BY public.audit_pet_accessorie.audit_id;


--
-- Name: breed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.breed (
    id bigint NOT NULL,
    breed_name text NOT NULL,
    animal_type_id bigint NOT NULL,
    average_weight numeric(6,2)
);


ALTER TABLE public.breed OWNER TO postgres;

--
-- Name: breed_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.breed_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.breed_id_seq OWNER TO postgres;

--
-- Name: breed_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.breed_id_seq OWNED BY public.breed.id;


--
-- Name: cage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cage (
    id bigint NOT NULL,
    animal_type_id bigint NOT NULL,
    petshop_id bigint NOT NULL,
    current_pet_id bigint
);


ALTER TABLE public.cage OWNER TO postgres;

--
-- Name: cage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cage_id_seq OWNER TO postgres;

--
-- Name: cage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cage_id_seq OWNED BY public.cage.id;


--
-- Name: client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client (
    id bigint NOT NULL,
    name text NOT NULL,
    surname text NOT NULL,
    passport_data text NOT NULL,
    segment text NOT NULL,
    preferences jsonb,
    phones text[],
    notes text,
    notes_tsv tsvector,
    CONSTRAINT client_segment_check CHECK ((segment = ANY (ARRAY['A'::text, 'B'::text, 'C'::text, 'D'::text])))
);


ALTER TABLE public.client OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.client_id_seq OWNER TO postgres;

--
-- Name: client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.client_id_seq OWNED BY public.client.id;


--
-- Name: employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employee (
    id bigint NOT NULL,
    name text NOT NULL,
    surname text NOT NULL,
    profession text NOT NULL,
    cage_id bigint,
    petshop_id bigint NOT NULL,
    meta jsonb,
    skills text[],
    work_years int4range,
    bio text,
    bio_tsv tsvector
);


ALTER TABLE public.employee OWNER TO postgres;

--
-- Name: employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.employee_id_seq OWNER TO postgres;

--
-- Name: employee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employee_id_seq OWNED BY public.employee.id;


--
-- Name: food; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.food (
    id bigint NOT NULL,
    brand_name text NOT NULL,
    food_type text NOT NULL
);


ALTER TABLE public.food OWNER TO postgres;

--
-- Name: food_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.food_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.food_id_seq OWNER TO postgres;

--
-- Name: food_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.food_id_seq OWNED BY public.food.id;


--
-- Name: medication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medication (
    id bigint NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.medication OWNER TO postgres;

--
-- Name: medication_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.medication_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.medication_id_seq OWNER TO postgres;

--
-- Name: medication_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.medication_id_seq OWNED BY public.medication.id;


--
-- Name: mvcc_lab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mvcc_lab (
    id integer NOT NULL,
    name text,
    amount integer
);


ALTER TABLE public.mvcc_lab OWNER TO postgres;

--
-- Name: pet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pet (
    id bigint NOT NULL,
    name text NOT NULL,
    age integer NOT NULL,
    owner_id bigint NOT NULL,
    breed_id bigint NOT NULL,
    food_id bigint,
    petshop_id bigint NOT NULL,
    status text NOT NULL,
    attributes jsonb,
    tags text[],
    stay tsrange,
    description text,
    description_tsv tsvector,
    CONSTRAINT pet_age_check CHECK ((age >= 0)),
    CONSTRAINT pet_status_check CHECK ((status = ANY (ARRAY['new'::text, 'healthy'::text, 'sick'::text, 'adopted'::text])))
);


ALTER TABLE public.pet OWNER TO postgres;

--
-- Name: pet_accessorie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pet_accessorie (
    pet_id bigint NOT NULL,
    accessorie_id bigint NOT NULL,
    amount integer NOT NULL,
    CONSTRAINT pet_accessorie_amount_check CHECK ((amount >= 0))
);


ALTER TABLE public.pet_accessorie OWNER TO postgres;

--
-- Name: pet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pet_id_seq OWNER TO postgres;

--
-- Name: pet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pet_id_seq OWNED BY public.pet.id;


--
-- Name: pet_medication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pet_medication (
    pet_id bigint NOT NULL,
    medication_id bigint NOT NULL
);


ALTER TABLE public.pet_medication OWNER TO postgres;

--
-- Name: petshop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.petshop (
    id bigint NOT NULL,
    address text NOT NULL,
    name text NOT NULL,
    pets_capacity integer NOT NULL,
    location public.geography(Point,4326),
    city text NOT NULL,
    CONSTRAINT petshop_pets_capacity_check CHECK ((pets_capacity > 0))
);


ALTER TABLE public.petshop OWNER TO postgres;

--
-- Name: petshop_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.petshop_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.petshop_id_seq OWNER TO postgres;

--
-- Name: petshop_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.petshop_id_seq OWNED BY public.petshop.id;


--
-- Name: wal_lab; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wal_lab (
    id integer NOT NULL,
    name text,
    amount integer
);


ALTER TABLE public.wal_lab OWNER TO postgres;

--
-- Name: accessorie id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accessorie ALTER COLUMN id SET DEFAULT nextval('public.accessorie_id_seq'::regclass);


--
-- Name: animal_type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal_type ALTER COLUMN id SET DEFAULT nextval('public.animal_type_id_seq'::regclass);


--
-- Name: audit_pet_accessorie audit_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_pet_accessorie ALTER COLUMN audit_id SET DEFAULT nextval('public.audit_pet_accessorie_audit_id_seq'::regclass);


--
-- Name: breed id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.breed ALTER COLUMN id SET DEFAULT nextval('public.breed_id_seq'::regclass);


--
-- Name: cage id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage ALTER COLUMN id SET DEFAULT nextval('public.cage_id_seq'::regclass);


--
-- Name: client id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client ALTER COLUMN id SET DEFAULT nextval('public.client_id_seq'::regclass);


--
-- Name: employee id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee ALTER COLUMN id SET DEFAULT nextval('public.employee_id_seq'::regclass);


--
-- Name: food id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.food ALTER COLUMN id SET DEFAULT nextval('public.food_id_seq'::regclass);


--
-- Name: medication id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medication ALTER COLUMN id SET DEFAULT nextval('public.medication_id_seq'::regclass);


--
-- Name: pet id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet ALTER COLUMN id SET DEFAULT nextval('public.pet_id_seq'::regclass);


--
-- Name: petshop id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.petshop ALTER COLUMN id SET DEFAULT nextval('public.petshop_id_seq'::regclass);


--
-- Name: accessorie accessorie_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accessorie
    ADD CONSTRAINT accessorie_name_key UNIQUE (name);


--
-- Name: accessorie accessorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accessorie
    ADD CONSTRAINT accessorie_pkey PRIMARY KEY (id);


--
-- Name: animal_type animal_type_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal_type
    ADD CONSTRAINT animal_type_name_key UNIQUE (name);


--
-- Name: animal_type animal_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.animal_type
    ADD CONSTRAINT animal_type_pkey PRIMARY KEY (id);


--
-- Name: audit_pet_accessorie audit_pet_accessorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_pet_accessorie
    ADD CONSTRAINT audit_pet_accessorie_pkey PRIMARY KEY (audit_id);


--
-- Name: breed breed_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.breed
    ADD CONSTRAINT breed_pkey PRIMARY KEY (id);


--
-- Name: cage cage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage
    ADD CONSTRAINT cage_pkey PRIMARY KEY (id);


--
-- Name: client client_passport_data_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_passport_data_key UNIQUE (passport_data);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: employee employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_pkey PRIMARY KEY (id);


--
-- Name: food food_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.food
    ADD CONSTRAINT food_pkey PRIMARY KEY (id);


--
-- Name: medication medication_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medication
    ADD CONSTRAINT medication_name_key UNIQUE (name);


--
-- Name: medication medication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medication
    ADD CONSTRAINT medication_pkey PRIMARY KEY (id);


--
-- Name: mvcc_lab mvcc_lab_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mvcc_lab
    ADD CONSTRAINT mvcc_lab_pkey PRIMARY KEY (id);


--
-- Name: pet_accessorie pet_accessorie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_accessorie
    ADD CONSTRAINT pet_accessorie_pkey PRIMARY KEY (pet_id, accessorie_id);


--
-- Name: pet_medication pet_medication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_medication
    ADD CONSTRAINT pet_medication_pkey PRIMARY KEY (pet_id, medication_id);


--
-- Name: pet pet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_pkey PRIMARY KEY (id);


--
-- Name: petshop petshop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.petshop
    ADD CONSTRAINT petshop_pkey PRIMARY KEY (id);


--
-- Name: wal_lab wal_lab_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wal_lab
    ADD CONSTRAINT wal_lab_pkey PRIMARY KEY (id);


--
-- Name: btree_pet_petshop_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX btree_pet_petshop_status ON public.pet USING btree (petshop_id, status);


--
-- Name: pet_accessorie trg_audit_pet_accessorie; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_audit_pet_accessorie AFTER INSERT OR DELETE OR UPDATE ON public.pet_accessorie FOR EACH ROW EXECUTE FUNCTION public.fn_audit_pet_accessorie();


--
-- Name: client trg_client_fts; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_client_fts BEFORE INSERT OR UPDATE ON public.client FOR EACH ROW EXECUTE FUNCTION public.fts_update_client();


--
-- Name: employee trg_employee_fts; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_employee_fts BEFORE INSERT OR UPDATE ON public.employee FOR EACH ROW EXECUTE FUNCTION public.fts_update_employee();


--
-- Name: pet trg_pet_fts; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_pet_fts BEFORE INSERT OR UPDATE ON public.pet FOR EACH ROW EXECUTE FUNCTION public.fts_update_pet();


--
-- Name: audit_pet_accessorie audit_pet_accessorie_accessorie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_pet_accessorie
    ADD CONSTRAINT audit_pet_accessorie_accessorie_id_fkey FOREIGN KEY (accessorie_id) REFERENCES public.accessorie(id);


--
-- Name: audit_pet_accessorie audit_pet_accessorie_pet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_pet_accessorie
    ADD CONSTRAINT audit_pet_accessorie_pet_id_fkey FOREIGN KEY (pet_id) REFERENCES public.pet(id) ON DELETE CASCADE;


--
-- Name: breed breed_animal_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.breed
    ADD CONSTRAINT breed_animal_type_id_fkey FOREIGN KEY (animal_type_id) REFERENCES public.animal_type(id);


--
-- Name: cage cage_animal_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage
    ADD CONSTRAINT cage_animal_type_id_fkey FOREIGN KEY (animal_type_id) REFERENCES public.animal_type(id);


--
-- Name: cage cage_petshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cage
    ADD CONSTRAINT cage_petshop_id_fkey FOREIGN KEY (petshop_id) REFERENCES public.petshop(id);


--
-- Name: employee employee_cage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_cage_id_fkey FOREIGN KEY (cage_id) REFERENCES public.cage(id);


--
-- Name: employee employee_petshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_petshop_id_fkey FOREIGN KEY (petshop_id) REFERENCES public.petshop(id);


--
-- Name: pet_accessorie pet_accessorie_accessorie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_accessorie
    ADD CONSTRAINT pet_accessorie_accessorie_id_fkey FOREIGN KEY (accessorie_id) REFERENCES public.accessorie(id);


--
-- Name: pet_accessorie pet_accessorie_pet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_accessorie
    ADD CONSTRAINT pet_accessorie_pet_id_fkey FOREIGN KEY (pet_id) REFERENCES public.pet(id) ON DELETE CASCADE;


--
-- Name: pet pet_breed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_breed_id_fkey FOREIGN KEY (breed_id) REFERENCES public.breed(id);


--
-- Name: pet pet_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_food_id_fkey FOREIGN KEY (food_id) REFERENCES public.food(id);


--
-- Name: pet_medication pet_medication_medication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_medication
    ADD CONSTRAINT pet_medication_medication_id_fkey FOREIGN KEY (medication_id) REFERENCES public.medication(id);


--
-- Name: pet_medication pet_medication_pet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet_medication
    ADD CONSTRAINT pet_medication_pet_id_fkey FOREIGN KEY (pet_id) REFERENCES public.pet(id) ON DELETE CASCADE;


--
-- Name: pet pet_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.client(id);


--
-- Name: pet pet_petshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pet
    ADD CONSTRAINT pet_petshop_id_fkey FOREIGN KEY (petshop_id) REFERENCES public.petshop(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO petshop_admin;
GRANT USAGE ON SCHEMA public TO petshop_app;
GRANT USAGE ON SCHEMA public TO petshop_ro;


--
-- Name: TABLE accessorie; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.accessorie TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.accessorie TO petshop_app;
GRANT SELECT ON TABLE public.accessorie TO petshop_ro;


--
-- Name: SEQUENCE accessorie_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.accessorie_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.accessorie_id_seq TO petshop_app;


--
-- Name: TABLE animal_type; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.animal_type TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.animal_type TO petshop_app;
GRANT SELECT ON TABLE public.animal_type TO petshop_ro;


--
-- Name: SEQUENCE animal_type_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.animal_type_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.animal_type_id_seq TO petshop_app;


--
-- Name: TABLE audit_pet_accessorie; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.audit_pet_accessorie TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.audit_pet_accessorie TO petshop_app;
GRANT SELECT ON TABLE public.audit_pet_accessorie TO petshop_ro;


--
-- Name: SEQUENCE audit_pet_accessorie_audit_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.audit_pet_accessorie_audit_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.audit_pet_accessorie_audit_id_seq TO petshop_app;


--
-- Name: TABLE breed; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.breed TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.breed TO petshop_app;
GRANT SELECT ON TABLE public.breed TO petshop_ro;


--
-- Name: SEQUENCE breed_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.breed_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.breed_id_seq TO petshop_app;


--
-- Name: TABLE cage; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.cage TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.cage TO petshop_app;
GRANT SELECT ON TABLE public.cage TO petshop_ro;


--
-- Name: SEQUENCE cage_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.cage_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.cage_id_seq TO petshop_app;


--
-- Name: TABLE client; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.client TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.client TO petshop_app;
GRANT SELECT ON TABLE public.client TO petshop_ro;


--
-- Name: SEQUENCE client_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.client_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.client_id_seq TO petshop_app;


--
-- Name: TABLE employee; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.employee TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.employee TO petshop_app;
GRANT SELECT ON TABLE public.employee TO petshop_ro;


--
-- Name: SEQUENCE employee_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.employee_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.employee_id_seq TO petshop_app;


--
-- Name: TABLE food; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.food TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.food TO petshop_app;
GRANT SELECT ON TABLE public.food TO petshop_ro;


--
-- Name: SEQUENCE food_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.food_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.food_id_seq TO petshop_app;


--
-- Name: TABLE geography_columns; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.geography_columns TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.geography_columns TO petshop_app;
GRANT SELECT ON TABLE public.geography_columns TO petshop_ro;


--
-- Name: TABLE geometry_columns; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.geometry_columns TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.geometry_columns TO petshop_app;
GRANT SELECT ON TABLE public.geometry_columns TO petshop_ro;


--
-- Name: TABLE medication; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.medication TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.medication TO petshop_app;
GRANT SELECT ON TABLE public.medication TO petshop_ro;


--
-- Name: SEQUENCE medication_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.medication_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.medication_id_seq TO petshop_app;


--
-- Name: TABLE mvcc_lab; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.mvcc_lab TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.mvcc_lab TO petshop_app;
GRANT SELECT ON TABLE public.mvcc_lab TO petshop_ro;


--
-- Name: TABLE pet; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.pet TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pet TO petshop_app;
GRANT SELECT ON TABLE public.pet TO petshop_ro;


--
-- Name: TABLE pet_accessorie; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.pet_accessorie TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pet_accessorie TO petshop_app;
GRANT SELECT ON TABLE public.pet_accessorie TO petshop_ro;


--
-- Name: SEQUENCE pet_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.pet_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.pet_id_seq TO petshop_app;


--
-- Name: TABLE pet_medication; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.pet_medication TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pet_medication TO petshop_app;
GRANT SELECT ON TABLE public.pet_medication TO petshop_ro;


--
-- Name: TABLE petshop; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.petshop TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.petshop TO petshop_app;
GRANT SELECT ON TABLE public.petshop TO petshop_ro;


--
-- Name: SEQUENCE petshop_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.petshop_id_seq TO petshop_admin;
GRANT SELECT,USAGE ON SEQUENCE public.petshop_id_seq TO petshop_app;


--
-- Name: TABLE spatial_ref_sys; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.spatial_ref_sys TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.spatial_ref_sys TO petshop_app;
GRANT SELECT ON TABLE public.spatial_ref_sys TO petshop_ro;


--
-- Name: TABLE wal_lab; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.wal_lab TO petshop_admin;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.wal_lab TO petshop_app;
GRANT SELECT ON TABLE public.wal_lab TO petshop_ro;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO petshop_admin;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES TO petshop_app;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO petshop_admin;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO petshop_app;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT ON TABLES TO petshop_ro;


--
-- PostgreSQL database dump complete
--

